[build]
target = "thumbv6m-none-eabi"

[target.thumbv6m-none-eabi]
rustflags = [
  "-C", "link-arg=-Tlink.x",
]
runner = "probe-rs run --chip lpc8n04 --chip-description-path target/definition.yaml"

[alias]
rr = "run --release"
br = "build --release"